{% extends "base.html" %} {% block title %} quienes_somos {% endblock %}{% block content %} 
<div class="container-sm p-3 my-3 bg-primary text-white">

    <div class="d-flex justify-content-center align-items-center container ">

        <div class="row ">
            <form>
                <html>
                <head>
                        <p><h1>Hola que gusto verte por aqui!No se si es la primera vez que nos vemos</h6></p>
                        <p> <h2>Estas aca porque estas interesado un poco en nosotros </h2></p>
                        <p><h3> Somos un grupo de personas que estudiamos en el informatorio y pensamos un proyecto final sobre como podriamos ayudar a la Provincia con un granito de lo que aprendimos </h3></p>
                        <p><h4> y por eso estas VOS aca y NOSOTROS tambien</h4></p>
                        <p><h5>VOS capaz estas para buscar gente que te ayude en algo que estas necesitando hacer o porque tenes manos habilidosas y podes hacer cosas que otros no</h5></p>
                        <p><h6>y NOSOTROS estamos aca para conectarlos por medio de servicios,esperamos que con esta pagina podamos ayudarlos  :) </h6></p>
                </head>
                </html>
{% endblock %}
